[Unit]
Description=Wächter daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/bin/waechterd
Restart=on-failure
RestartSec=2s

KillSignal=SIGTERM
TimeoutStopSec=15s

NoNewPrivileges=false
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectKernelModules=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=false
SystemCallArchitectures=native

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
