#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Waechter
Comment=Monitor and control network traffic
Exec=waechter %U
Icon=waechter.png
Terminal=false
StartupWMClass=Waechter
Categories=Network;Utility;
MimeType=